<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/stopwatch.js"></script>
    <script src="/javascripts/addtask.js"></script>
    <script src="/javascripts/archivetasks.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="tasks-list">
        <tr>
            <td>Task Name</td><td>Time</td>
        </tr>
	</table>
    <button id="add-task" class="float-left submit-button" >Add Task</button>
    <button id="archive-tasks" class="float-left submit-button"> Archive Tasks</button>
    <button onclick="location.href = '/viewarchive';" id="view-archive" 
            class="float-left submit-button" >View Timesheet Archive</button>
  </script>
  </body>
</html>
