<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table class="authors-list">
    <tr>
        <td>Task Name</td><td>Time</td>
    </tr>
    <tr>
        <td>
            <input type="text" name="first_name" />
        </td>
        <td>
        </td>
    </tr>
	</table>
	<a href="#" title="" class="add-task">Add Task</a>
  </body>
</html>
