<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/stopwatch.js"></script>
    <script src="/javascripts/addtask.js"></script>
    <script src="/javascripts/archivetasks.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table id="tasks-list">
    <tr>
        <td>Task Name</td><td>Time</td>
    </tr>
    <tr>
        <td>
            <input type="text" name="first_name"  />
        </td>
        <td class="watch">
          <script>
            var allTD = document.getElementsByClassName("watch");
            var lastTD = allTD[allTD.length-1];
            new Stopwatch(lastTD);
          </script>
        </td>
    </tr>
	</table>
    <a href="#" title="" id="add-task">Add Task</a></br>
    <a href="#" title="" id="archive-tasks">Archive Tasks</a></br>
    <a href="/viewarchive" title="" id="view-archive">View Timesheet Archive</a></br>
  </script>
  </body>
</html>
