<!DOCTYPE html>
<html>
    <head>
        <title><%= title  %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% for(var i=0;i<data.length;i++){ %>
        <table>
        <tr> <%= data[i].created %> </tr>
            <% for(var j=0;j<data[i].table.length;j++){ %>
                <tr> 
                    <td><%= data[i].table[j].task  %></td>
                    <td><%= data[i].table[j].time  %></td>         
                </tr>
            <% } %>
        </table>
        </br>
        <% } %>
    </body>
</html>

